target/
!.mvn/wrapper/maven-wrapper.jar
/index/
/*.db
/data/
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Temp ###
tmp/
*.log
*.tmp
startup_debug.log
app.log
error.log

### Secrets ###
.env
